<div class="hero">
  <div class="frosty col-10 offset-1 text-center">
    <h1>
      Learn to Cook the Most DELICIOUS Food!
    </h1>
    
    <h3>
      Cuisine From Around The Globe
    </h3>
    
    <br />
    
    <%= link_to 'Learn More', courses_path, class: 'btn btn-lg btn-success' %>
  </div>
</div>

<div class="row text-center feature">
  <div class="col-12 col-md">
    <i class="fa fa-tv fa-4x icon"></i>
    <h3>
      Easy-to-Follow Videos
    </h3>
    <p>
      Learn to cook at your own pace from world-renowned chefs at the top of their game!
    </p>
    
    <br />
    <br />
  </div>

  <div class="col-12 col-md">
    <i class="fa fa-heart fa-4x icon"></i>
    <h3>
      Make-It-Your-Own Recipes
    </h3>
    <p>
      Lessons include techniques to modify the meal's taste profile, for almost limitless variations!
    </p>
    
    <br />
    <br />
  </div>

  <div class="col-12 col-md">
    <i class="fa fa-hourglass-half fa-4x icon"></i>
    <h3>
      Yours Forever
    </h3>
    <p>
      Once purchased, your courses are yours to keep and retake any time you wish.
    </p>
    
    <br />
    <br />
  </div>
</div>