<div class="hero">
  <div class="frosty col-10 offset-1 text-center">
    <h1>Learn to Cook the Most DELICIOUS Cuisine!</h1>
    <h3><em>-- Atim Udoh (Global Chef)</em></h3>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>